#secondScreen{
    margin-left: 0%;

}
#fristscreen{

}
#theardScreen{
    margin-left: 80%;
}

table {
    border: 1px solid #DB7093;
    text-align: center;
    background: #ffe6e6;
    color: #2c90c6;
    width: 50%;
    height:100%;

}


th, td {

    border-collapse: collapse;
    text-align: center;

}

.headrow1{
    margin-left:0%;
    font-size: 25px;
    color:#0080ff;
}

body {

    background:#FFCCCC;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 2em;
}


#message{
    background-color: #2c90c6;
    border: 1px solid #2c90c6;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
}
#sendbtn{

    background-color: #CC3399;
    border: 1px solid #2c90c6;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 5%;
}
#Logoutbtn{
    margin-top: 0%;
    margin-left: 20%;
    
    background-color: #CC3399;
    border: 1px solid #2c90c6;
    border-radius: 15px;

    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 10%;
}